<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cultural self.css"/>
    <link rel="stylesheet" href="style.css" />
    <title>DIGITAL PORTFOLIO</title>
  </head>
  <body>
    <div class="menu-bar">
      <ul>
        <li><a href="../Digital Portfolio.html">Home</a></li>
        <li><a href="biological.html">Biological</a></li>
        <li><a href="#">Social <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                  <li><a href="Cultural Self.html">Cultural Self</a></li>
                  <li><a href="Socio-digital Self.html">Socio-digital Self</a></li>
				  <li><a href="Material Self.html">Material Self</a></li>
				</ul>
			</div>
			
        <li><a href="#">Mental <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                  <li><a href="Cognition, Memory, and Intelligence.html">Cognition, Memory, and Intelligence</a></li>
                  <li><a href="Human Learning.html">Human Learning</a></li>
				</ul>
			</div>
		  
        <li><a href="#">Emotional <i class="fas fa-caret-down"></i></a>

            <div class="dropdown-menu">
                <ul>
                  <li><a href="Emotional Intelligence.html">Emotional Intelligence</a></li>
                  <li><a href="Emotional Regulation.html">Emotional Regulation</a></li>
				</ul>
			</div>
			
		<li><a href="SPIRITUAL.html">Spiritual</a></li>
		<li><a href="insight.html">Insight</a></li>
      </ul>
    </div>

    <div class="hero">
      &nbsp;
    </div>
  </body>
</html>